.checkoutProduct {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
}
.checkoutProduct_price{
    padding-bottom: 10px;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_rating{
    display: flex;
    padding-bottom: 10px;
}
.checkoutProduct_title{
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 10px;
}
.checkoutProduct_info {
    padding-left: 20px;
}
.checkoutProduct_info>button{
    background:#f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}